<!DOCTYPE HTML>
<html>
	<head>
        <!-- Inlined CSS for formatting -->
		<style>
		</style>
	</head>
	<body>
    Formatter Example: {formatter_example}
    <br>
    Sub example: {sub_example}
    <br />
    Make a bar chart
    <img src="{{ bar:bar_cid }}" />
    Make a pie chart
    <img src="{{ pie:pie_cid }}" />
    Make a line chart
    <img src="{{ line:line_cid }}" />
    Make a multiline chart
    <img src="{{ multiline:multiline_cid }}" />
	</body>
</html>
